.subscriber-table {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

.subscriber-row:hover {
    background-color: #f3f3f3;
}

.internal-badge {
    --sds-c-badge-color-background: #0176d3;
    --sds-c-badge-text-color: #fff;
}

.external-badge {
    --sds-c-badge-color-background: #9050e9;
    --sds-c-badge-text-color: #fff;
}

.remove-btn {
    --sds-c-button-icon-color-foreground: #ba0517;
}

.remove-btn:hover {
    --sds-c-button-icon-color-foreground: #8e030f;
}